<div>
  <h1>Meet our friendly and competent staff!</h1>
  <figure><a href = "/staff/moe">
  <img class = "staff" src="<%=$moe.pic%>"></a><figcaption> <%=$moe.name%></figcaption>
</figure>
<figure><a href = "/staff/larry">
<img class = "staff" src="<%=$larry.pic%>"></a><figcaption><%=$larry.name%></figcaption>
</figure>
<figure><a href="/staff/curly">
<img class = "staff" src="<%=$curly.pic%>"></a><figcaption><%=$curly.name%></figcaption>
</figure>
</div>
